*
  margin 0
  padding 0
html,body,#app,.home,.el-container
  height 100%
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50

#nav
  a
    font-weight bold
    color #2c3e50
    &.router-link-exact-active
      color #42b983

.el-menu-vertical-demo:not(.el-menu--collapse) 
  width: 200px;
  min-height: 400px;

// 重新定义滚动条样式 
div::-webkit-scrollbar 
  width:4px; 
  height:2px; 
  background:#ccc; 
  border-radius:2px;//外层

div::-webkit-scrollbar-thumb
  display:block;
  width:6px; 
  margin:0 auto; 
  border-radius: 10px; 
  background:gray;//内层轨道

.el-tabs__nav .el-tabs__item:nth-child(1) span
  display none !important

// .el-menu .is-active
//   color white !important

